body {
margin:0;
font-family:sans-serif;
background:#0f172a;
color:white;
}

/* NAV */
nav {
display:flex;
justify-content:space-between;
padding:20px 10%;
background:#020617;
}

.logo span { color:#00f5ff; }

nav a {
margin-left:15px;
color:white;
text-decoration:none;
}

/* HERO */
.hero {
text-align:center;
padding:100px;
}

.hero span { color:#00f5ff; }

/* GRID */
.grid {
display:grid;
grid-template-columns:repeat(auto-fit,minmax(250px,1fr));
gap:20px;
padding:40px;
}

/* CARD */
.card {
background:#1e293b;
border-radius:10px;
overflow:hidden;
transition:0.3s;
}

.card img {
width:100%;
height:150px;
object-fit:cover;
}

.card:hover {
transform:translateY(-10px);
}

/* BUTTONS */
.btns {
display:flex;
justify-content:space-around;
padding:10px;
}

.btns a {
background:#00f5ff;
color:black;
padding:5px 10px;
border-radius:5px;
text-decoration:none;
}

/* FOOTER */
footer {
text-align:center;
padding:20px;
background:#020617;
}
