body {
margin:0;
font-family:sans-serif;
background:#050816;
color:white;
overflow-x:hidden;
}

/* PARTICLES */
#particles-js {
position:fixed;
width:100%;
height:100%;
z-index:-1;
}

/* NAV */
nav {
display:flex;
justify-content:space-between;
padding:20px 10%;
background:rgba(0,0,0,0.3);
backdrop-filter:blur(10px);
position:sticky;
top:0;
}

.logo span { color:#00f5ff; }

/* HERO */
.hero {
text-align:center;
padding:140px 20px;
}

.hero span {
color:#00f5ff;
text-shadow:0 0 20px #00f5ff;
}

.buttons {
margin-top:20px;
display:flex;
justify-content:center;
gap:15px;
}

button, .resume-btn {
padding:10px 20px;
border:none;
background:#00f5ff;
color:black;
border-radius:6px;
text-decoration:none;
cursor:pointer;
}

/* SECTION */
section {
padding:80px 10%;
text-align:center;
}

/* GRID */
.grid {
display:grid;
grid-template-columns:repeat(auto-fit,minmax(250px,1fr));
gap:20px;
}

/* GLASS CARD */
.card {
background:rgba(255,255,255,0.05);
backdrop-filter:blur(10px);
padding:20px;
border-radius:15px;
border:1px solid rgba(255,255,255,0.1);
transition:0.3s;
}

.card:hover {
transform:translateY(-10px) scale(1.03);
box-shadow:0 10px 40px rgba(0,0,0,0.6);
}

/* FOOTER */
footer {
text-align:center;
padding:20px;
background:#020617;
}
